src/main/resources/schema/status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="status">
        <xs:complexType>
            <xs:sequence>
<!--                <xs:element name="id" type="xs:int" />-->
                <xs:element name="name" type="xs:string" />
                <xs:element minOccurs="0" name="status-index" type="xs:int">
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
